# PhpStorm IDE
.idea

# Let the project repos track these, rather than the sandbox repo.
foundation_patterns/
foundation_patterns_config/

# Drupal things that don't belong in repo.
drupal/sites/default/files/
drupal/sites/default/settings.php
